include README.rst
include LICENSE
include requirements.txt
exclude sbom.json
recursive-include doc *.bat
recursive-include doc *.py
recursive-include doc *.rst
recursive-include src *.h
recursive-include test *.py
exclude .pre-commit-config.yaml
prune scripts
prune .evergreen
