exec_timeout_secs: 3600

# Mark a failure as a system/bootstrap failure (purple box) rather then a task
# failure by default.
# Actual testing tasks are marked with `type: test`
command_type: system

functions:
  "setup":
    - command: git.get_project
      params:
        directory: src
    - command: subprocess.exec
      params:
        binary: bash
        working_dir: "src"
        add_expansions_to_env: true
        args:
          - ./.evergreen/setup.sh
    - command: expansions.update
      params:
        file: src/expansion.yml

  "bootstrap mongo-orchestration":
    - command: subprocess.exec
      params:
        binary: bash
        env:
          MONGODB_VERSION: latest
          TOPOLOGY: server
        args:
          - ${DRIVERS_TOOLS}/.evergreen/run-orchestration.sh

  "run unit tests":
    - command: ec2.assume_role
      params:
        role_arn: ${drivers_test_secrets_role}
    - command: subprocess.exec
      type: test
      params:
        binary: bash
        working_dir: "src"
        include_expansions_in_env: [DRIVERS_TOOLS, AWS_SECRET_ACCESS_KEY, AWS_ACCESS_KEY_ID, AWS_SESSION_TOKEN]
        args:
          - ./.evergreen/run-tests.sh

  "assign pr reviewer":
    - command: subprocess.exec
      type: test
      params:
        binary: bash
        add_expansions_to_env: true
        working_dir: "src"
        args:
          - ./.evergreen/assign-pr-reviewer.sh

  "teardown":
    - command: subprocess.exec
      params:
        binary: bash
        args:
          - ${DRIVERS_TOOLS}/.evergreen/teardown.sh

pre:
  - func: setup
  - func: bootstrap mongo-orchestration

post:
  - func: teardown
  - command: attach.xunit_results
    params:
      file:  "mongo-python-driver/xunit-results/TEST-*.xml"

tasks:
- name: run-tests
  commands:
    - func: "run unit tests"

- name: assign-pr-reviewer
  tags: ["pr"]
  allowed_requesters: ["patch", "github_pr"]
  commands:
    - func: "assign pr reviewer"

buildvariants:
- name: tests
  display_name: Run Tests
  run_on: windows-64-vsMulti-small
  tasks:
  - name: run-tests

- name: rhel8-pr-assign-reviewer
  display_name: Assign PR Reviewer
  run_on: rhel87-small
  tasks:
    - name: "assign-pr-reviewer"
