name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The next version to set"
      post_version:
        description: "The post version to set"
      dry_run:
        description: "Whether this is a dry run"
        default: "false"

jobs:
  bump-and-tag:
    environment: release
    runs-on: windows-2019
    steps:
      - uses: ./.github/actions/bump
        with:
          version: ${{ inputs.version }}
          post_version: ${{ inputs.post_version }}
          app_id: ${{ vars.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          garasign_username: ${{ secrets.GRS_CONFIG_USER1_USERNAME }}
          garasign_password: ${{ secrets.GRS_CONFIG_USER1_PASSWORD }}
          artifactory_username: ${{ secrets.ARTIFACTORY_USER }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          gpg_key_id: ${{ vars.GPG_KEY_ID }}
          dry_run: ${{ inputs.dry_run }}

  build_dist:
    needs: [bump-and-tag]
    uses: ./.github/workflows/dist.yml

  publish:
    needs: [build_dist]
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: ./.github/actions/publish
        with:
          garasign_username: ${{ secrets.GRS_CONFIG_USER1_USERNAME }}
          garasign_password: ${{ secrets.GRS_CONFIG_USER1_PASSWORD }}
          artifactory_username: ${{ secrets.ARTIFACTORY_USER }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          token: ${{ github.token }}
          dry_run: ${{ inputs.dry_run }}
